<form action="/login" method="post">
  <h2>Login</h2>
  <div>
    <input name="email" />
  </div>
  <div>
    <input name="password" />
  </div>
  <button type="submit">Login</button>
  <a href="/register">Dont have account ?Register</a> |
  <a href="/">back to home</a>
</form>
